html {
  font-size: 12px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 1.6em;
  color: #fff;
  background-color: #818181;
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  color: #000;
  margin: 0.67em 0;
}
img {
	padding-bottom: 30px;
}
#catimage img {
 	display: block;
    margin-left: 40%;
    max-width: 100%;
    max-height: 100%;
	border-radius: 50%;
}
.box {
  margin-top: 20px;
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #2FDAAD;
}
.quiz {
  margin-left: 30px;
}
.box h1,
.box .h1 {
  color: inherit;
}
.box p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.box > hr {
  border-top-color: #d5d5d5;
}
.container .box {
  border-radius: 6px;
}
.box .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .box {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .box {
    padding-left: 60px;
    padding-right: 60px;
  }
  .box h1,
  .box .h1 {
    font-size: 63px;
  }
}
.btn {
  margin:0 auto;
  width: 200px;
  display:block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 15px;
  font-size: 14px;
  line-height: 1.666;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}